body{

margin:0;
font-family:Arial;
background:#0e0e0e;
color:white;

}

.banner{
width:100%;
}

h2{
text-align:center;
margin:15px;
}

#bossContainer{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:12px;
padding:12px;

}

.boss{

text-align:center;
cursor:pointer;
transition:0.2s;

}

.boss:hover{
transform:scale(1.05);
}

.boss img{

width:100%;
border-radius:10px;
border:2px solid #444;

}

#guideMenu{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
padding:15px;

animation:slide .25s ease;

}

.guideIcon img{

width:100%;
border-radius:8px;
border:2px solid #555;

}

#viewer{

padding:15px;

}

#viewer img{

width:100%;
border-radius:10px;
border:2px solid #333;

}

@keyframes slide{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}

}

#towerContainer{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:12px;
padding:12px;

}
