body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f1117;
color:white;
}

main{
padding:15px;
padding-bottom:70px;
}

.card{
background:#1a1f2b;
border-radius:10px;
padding:15px;
margin-bottom:15px;
}

/* HERO */

.hero{
position:relative;
width:100%;
height:220px;
overflow:hidden;
}

.banner{
width:100%;
height:100%;
object-fit:cover;
}

.heroOverlay{
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
background:rgba(0,0,0,0.6);
padding:8px 18px;
border-radius:8px;
}

/* NAV */

.bottomNav{
position:fixed;
bottom:0;
width:100%;
display:flex;
background:#161a22;
border-top:1px solid #222;
}

.bottomNav button{
flex:1;
padding:15px;
background:none;
border:none;
color:#ccc;
font-size:14px;
}

.bottomNav button:hover{
background:#222838;
color:white;
}

/* CODES */

.codeList{
display:flex;
flex-wrap:wrap;
gap:8px;
}

.code{
padding:8px 14px;
border-radius:50px;
background:linear-gradient(90deg,#ff8a00,#e52e71);
color:white;
font-weight:600;
}

.expired{
text-decoration:line-through;
opacity:0.4;
}

/* TIER */

.tierSection{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
gap:12px;
}

.avatarRow{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#1f2230,#181a24);
border-radius:12px;
padding:12px;
transition:0.2s;
}

.avatarRow:hover{
transform:translateY(-4px);
}

.rank{
font-weight:bold;
color:#ffd166;
}

/* GUIDE IMAGES */

.guideImg{
width:100%;
max-width:320px;
height:auto;
object-fit:contain;
border-radius:12px;
margin:8px auto;
display:block;
}

/* GUIDE BUTTON */

.guideButton{
background:#222838;
padding:14px;
border-radius:10px;
margin-top:10px;
text-align:center;
cursor:pointer;
}

/* ICON SYSTEM */

.iconRow{
display:flex;
flex-wrap:wrap;
gap:8px;
margin-top:8px;
}

.iconFrame{
width:52px;
height:52px;
background:linear-gradient(145deg,#1b2033,#0c0f18);
border:2px solid #2f3a63;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
box-shadow:
0 2px 6px rgba(0,0,0,0.8),
inset 0 0 6px rgba(255,255,255,0.06);
overflow:hidden;
flex-shrink:0;
}

.iconFrame img{
width:80%;
height:80%;
object-fit:contain;
filter:saturate(1.15) contrast(1.05);
}

.iconFrame:hover{
border-color:#6ea8ff;
box-shadow:
0 0 10px rgba(110,168,255,0.5),
inset 0 0 6px rgba(255,255,255,0.12);
transform:scale(1.06);
transition:0.15s;
}

/* WEAPON ROW */

.weaponRow{
display:flex;
align-items:center;
gap:8px;
flex-wrap:wrap;
margin:10px 0;
}

.imageViewer{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:flex;
align-items:center;
justify-content:center;
z-index:9999;
}

.imageViewer img{
max-width:95%;
max-height:95%;
border-radius:12px;
}

.viewerContent{
text-align:center;
}

.viewerTitle{
margin-top:12px;
font-size:18px;
font-weight:600;
color:white;
}